.navbar {
    background: #3b5998;
  }

  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
}
  
  .nav-link,
  .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    float: none;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    background: #f4f4f4;
    color: #070707;
  }
  
  .navbar-toggler {
    background: #fff !important;
  }
  .message {
    color: #f4f4f4;
  }